@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html{
    height: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
}

.logo{
    padding: 1.3rem;
}

.navbar{
    border-bottom: 1px solid rgb(201, 201, 201);
    background-color: rgb(36, 35, 35);
    color: rgb(221, 212, 212);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.menu-icon i{
    font-size: 2rem;
    padding: .5rem;
    background-color: rgb(177, 177, 177);
    color: white;
    border-radius: 50%;
    cursor: pointer;
}
.links{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(36, 35, 35);
    color: rgb(221, 212, 212);
    transition: display 10s ease-in-out;
    z-index: 1000;   
    border-top: 1px solid rgb(83, 83, 83);
}

.links li{
    text-align: center;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.links li:hover{
    background-color: rgb(77, 74, 74);
}

.show{
    display: none;
}

img{
    width: 100%;
}

.image-bg{
    margin-top: 4rem;
    position: relative;
    width: 100%;
    height: 50vh;


    background: url('OLE_2434_Fotor.jpg') no-repeat center;
    background-size: cover;
    
}

.introduction{
    position: absolute;
    width: 100%;
    bottom: 20%;
    left: 0;
    color: black;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.246);
    font-weight: bold;
    line-height: 2rem;
    padding: .5rem;
}

.introduction h2{
    background-color:#5379DB;
    width: 20%;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    padding: .2rem;
    
}

.skills{
    height: 20vh;
    background-color:#114ce0;
    color: white;
    text-align: center;
    padding: .5rem;
    
}



