@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
    display: block;
}

html{
    height: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
}

.logo{
    padding: 1.3rem;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 1.6rem;
}

.logo span{
    color:rgb(255, 190, 70);
    font-weight: bold;
    border:1px solid white;
    border-radius: 10px;
    padding: .15rem;
}

.navbar{
    color: rgb(41, 41, 41);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.menu-icon i{
    font-size: 2rem;
    padding: .5rem;
    background-color: rgb(177, 177, 177);
    color: rgb(46, 46, 46);
    border-radius: 50%;
    cursor: pointer;
}
.links{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(36, 35, 35);
    color: rgb(221, 212, 212);
    transition: display 10s ease-in-out;
    z-index: 1000;   
    border-top: 1px solid rgb(83, 83, 83);
}

.links li{
    text-align: center;
    line-height: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem
}
.links li:hover{
    background-color: rgb(77, 74, 74);
}

.show{
    display: none;
}

img{
    width: 100%;
}

.banner{
    background-color: #1C1C1C;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.testing{
    margin-top: 2rem;
    background:url('OLE_2434_Fotor.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-color: rgb(255, 190, 70);
    border-width: 2px;
    height: 30vh;
    width: 30vh;
}

.btn{
    margin-top: 1rem;
    padding: .5rem;
    color: black;
    font-weight: bold;
    background-color: rgb(255, 190, 70);
    border-radius: 8px;
}

.definitions{
    line-height: 2.8rem;
    text-align: center;
    color: rgb(207, 207, 207);
}

.text-1{
    font-size: 1.6rem;
    
}

.text-2{
    font-size: 2.3rem;
    font-weight: bold;
    
}

.text-3{
    font-size: 1.7rem;
    
}
.text-3 span{
    font-weight: bold;
    color: rgb(184, 121, 5);
    
}

.image-bg{
    margin-top: 4rem;
    position: relative;

    height: 50vh;
    border-radius: 50%;


    background: url('OLE_2434_Fotor.jpg') no-repeat center;
    background-size: cover;
    
}

.introduction{
    position: absolute;
    width: 100%;
    bottom: 20%;
    left: 0;
    color: black;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.246);
    font-weight: bold;
    line-height: 2rem;
    padding: .5rem;
}

.introduction h2{
    background-color:#5379DB;
    width: auto;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    padding: .2rem;
    
}

.skills{
    height: 20vh;
    background-color:#f5f7fd;
    color: rgb(10, 8, 8);
    text-align: center;
    padding: .5rem;
    
}

.about{
    padding: 1rem;
}

.about .title-section {
    text-align: center;
    position: relative;
    font-weight: bold;
}

.about .title-section::before{
    position: absolute;
    top: 100%;
    background-color: rgb(10, 8, 8);
    content: "";
    height: 10px;
    width: 200px;
    transform: translate(-50%);
}

.about .title-section::after{
    position: absolute;
    font-weight: bolder;
    top: 100%;
    content: "Who i am";
    height: 10px;
    transform: translate(-50%);
    color: black;
    background-color: white;
}

.about .about-content{
    margin-top: 2rem;
    text-align: center;
}



